<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">

    <title>Team Member page</title>
</head>
<body>
    <!--stye your main team landing page here. -->
    <main class="app">
        <header>
            <h1 class="hidden">Emily Morgan Bio Page</h1>
            <h2>Emily Morgan</h2>
            <button><a href="index.html" class="indexPageButton">Home Page</a></button>
            
        </header>
    </main>
    
</body>
</html>