<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">

    <title>Natasha The General Specialist</title>
</head>
<body>
    <!--stye your main team landing page here. -->
    <main class="app">
        <header class="headerContainer">
            <h1 class="hidden">Emily's Page</h1>
            <h2>Emily Morgan</h2>
        </header>
        <div class="ProfileContainer">
            <div>
                <div class="paragraph">
                    <h4>Role</h4>
                    <p>+ Jack of all Trades</p>
                    <br>
                    <p>+ The Special Generalist</p>
                </div>
                <div class="paragraph">
                    <h4>About</h4>
                    <p>Is it better to be a jack of all trades or a master of one? In the tech industry practices are always changing. If you're a master of one, you'll soon be a master of none. I seek to continually learn new things at every opportunity. As technology changes and our world advances I hope to keep up and stay competitve in my profession. Aside from that, I enjoy my leisure time to play videogames, play with my two dogs, or get together with family over dinner. After all, food always tastes better when someone else cooks it.  </p>
                </div>
                <div class="paragraph">
                    <h4>Goals</h4>
                    <p>+ Friends</p>
                    <br>
                    <p>+ Family</p>
                    <br>
                    <p>+ Coffee</p>
                    <br>
                    <p>I am always trying to improve on my best and find new goals to attain. However I dont think running a 10k marathon will ever be included on my list of to-dos. I hope to branch out more into the creation of multimedia and continue to strengthen my design capabilities.  </p>
                </div>
            </div>
            <div>
                <div class="buttons profileButtons">
                    <button><a href="index.html" class="indexPageButton"> Home Page</a></button>
                    <button><a href="emily.html" class="indexPageButton">Next ></a></button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>