<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">

    <title>TEAM BIO PAGE</title>
</head>
<body>
    <!--stye your main team landing page here. -->
    <main class="app">
        <header> <!-- header STARTS-->
            <div class="header">
                <div>
                    <h1 class="hidden">Team</h1>
                    <h2>General Specialists</h2>
                </div>
                <div>
                    <ul>
                        <li><a href="Natasha.html">Natasha</a></li>
                        <li><a href="Emily.html">Emily</a></li>
                    </ul>
                </div>
            </div>
        </header><!-- header ENDS-->
        <section><!-- hero START--> 
            <p>Jack of all trades, master of none, though often times better then a master of one. </p>
        </section><!-- hero END--> 
        <section><!-- team home page START-->   
            <div>
                <div>
                    <img src="" alt="">
                    <h3>Jack of all Trades</h3>
                    <h4>Emily Morgan</h4>
                    <button><a href="Emily.html" class="teamMemberButton">See Bio Page</a></button>
                </div>
                <div>
                    <img src="" alt="">
                    <h3>Master of None</h3>
                    <h4>Natasha Adler</h4>
                    <button><a href="Natasha.html" class="teamMemberButton">See Bio Page</a></button>
                </div>
            </div>
        </section><!-- team home page END--> 
    </main>
    
</body>
</html>