<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">

    <title>General Specialists</title>
</head>
<body>
    <!--stye your main team landing page here. -->
    <main class="app">
        <header id="header"> <!-- header STARTS-->
            <div class="headerContainer">
                <div class="headerinfo">
                    <h1 class="hidden">Team Page</h1>
                    <h2>General Specialists</h2>
                    <p class="poem">"Jack of all trades,<br> master of none, <br>though often times better <br>then a master of one." </p>
                </div>
            </div>
        </header><!-- header ENDS-->
        <section><!-- team home page START-->   
            <div class="home_profile_box">
                <div class="home_profile">
                    <img src="./images/emily.jpeg" alt="">
                    <h3>Jack of all Trades</h3>
                    <h4>Emily Morgan</h4>
                    <button><a href="Emily.html" class="teamMemberButton">Learn More ></a></button>
                </div>
                <div class="home_profile">
                    <img src="./images/natasha.JPG" alt="">
                    <h3>Master of None</h3>
                    <h4>Natasha Adler</h4>
                    <button class="button"><a href="Natasha.html" class="teamMemberButton">Learn More ></a></button>
                </div>
            </div>
        </section><!-- team home page END--> 
    </main>
    
</body>
</html>