<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="css/main.css">

    <title>Team Member page</title>
</head>
<body>
    <!--stye your main team landing page here. -->
    <main class="app">
        <header>
            <h1 class="hidden">Natasha</h1>
            <h2>Natasha Adler</h2>
        </header>
        <div class="paragraph">
            <h4>Role</h4>
            <p>Master of None</p>
        </div>
        <div class="paragraph">
            <h4>About</h4>
            <p>“People say nothing is impossible, but I do nothing every day.” – A.A. Milne “I don’t think of myself as an ugly person. I think of myself as a beautiful monkey.” – Unknown “All the things I really like to do are either immoral, illegal or fattening.” – Alexander Woollcott “If I had to describe myself in one word, it would be bad at following directions.” – Unknown “Some days, I amaze myself. Other days, I put my keys in the fridge.” – Unknown “I am neither especially clever nor especially gifted. I am only very, very curious.” – Albert Einstein Moral of the story is, it may look like I’m doing nothing, but in my head, I’m very busy.</p>
        </div>
        <div class="paragraph">
            <h4>Goals</h4>
            <p>Nothing but everything. Gain new skills, boost my networking abilities, become an expert in my fiels, reach a leadership position, and increase my performance metrics. However, my crippling anxiety fights with me every day on this. My body reacts with "nothing", but my mind says "everything".</p>
        </div>
        <div class="buttons">
            <button><a href="index.html" class="indexPageButton">Home Page</a></button>
            <button><a href="emily.html" class="indexPageButton">Emily's Bio</a></button>
             
        </div>
    </main>
</body>
</html>