
button{
    border-radius: 2rem;
    padding: 1rem;
    background-color: #ffffff;
    a{
        color: $sub-color;
        font-weight: bolder;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}