$body-color: #0B0C10;
$sub-color: #45A29E;
$accent-color: #66FCF1;
$font-color: #CFC6C7;


$main-font: arial, open-sans;

$h2-font-weight: 4rem;
$h3-font-weight: 3rem;
$h4-font-weight: 2rem;
$p-font-weight: 1rem;
