$body-color: #000000;
$sub-color: #45A29E;
$accent-color: #66FCF1;
$font-color: #CFC6C7;


$main-font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', sans-serif;

$h2-font-weight: 7rem;
$h3-font-weight: 2rem;
$h4-font-weight: 1.5rem;
$p-font-weight: 1rem;
